# Ignore npm package lock files and repositories recursively
**/package-lock.json
**/node_modules/
**/dist/

# Ignore eventual .env and secrets
**/.env

# Ignore postgres
**/postgres

# Ignore coverage 
**/coverage/